@font-face {
    font-family: poppins;
    src: url("./../../fonts/poppins.ttf");
}

@font-face {
    font-family:poppins ;
    src: url("./../../fonts/poppins_bold.ttf");
    font-weight: bold;

}

*{
    font-family: poppins;;
}


:root{
    --brand-primary-color:rgb(83, 166, 250);
    --brand-white-color:#ffffff;
    --brand-secondary-color:rgb(124, 183, 241);
    --footer-nav-border-radius:30px;
    --footer-notch-border-radius:60px;
    --footer-notch-background-color:rgb(255, 255, 255);
}

#spinner{
    background:ghostwhite;
    height: 100vh;
    width: 100%;
    position: fixed;
    top:0;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
  
}


.brand-btn{
    border-radius:30px;
    background:var(--brand-primary-color);
    transition: .9s;
    padding:15px;
    margin:auto;
    text-align:center;
    text-transform: capitalize;
    border:none;
    outline:none;
    width:75%;
    color:var(--brand-white-color);
}

.brand-btn:hover{
    background:var(--brand-secondary-color);
    cursor:pointer;
}


/* styles for the footer navigation */
.footer-nav{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content: space-around;
    color:white;
    width:100%;
    padding:20px;
    margin:0;
    
}

.footer-nav-container{
    background:var(--brand-primary-color);
    width:100%;
    margin:0;
    display: flex;
    align-items: center;
    justify-content: center;
    position:fixed;
    bottom:0;
}


/* utility component */

.utility-component{
    background:var(--brand-primary-color);
    color:white;
    padding:20px;
    position:fixed;
    bottom:0;
    display:flex;
    align-items:start;
    height:300px;
    flex-direction:column;
    width:100%;
    margin:auto;
    transition:.3s;
    border-radius:var(--footer-nav-border-radius) var(--footer-nav-border-radius) 0px 0px;
    height:0;
}

.add-utility-component-height{
    height:55%;
    z-index:100;
}


.utility-component .utility-notch{
    background:var(--footer-notch-background-color);
    width:15%;
    height: 5px;
    border-radius:var(--footer-notch-border-radius);
    transform:translateY(-50px);    
    
}



/* media queries */

@media (min-width:667.98px){
    .width-toggle{
        width:35%
    }

}