@font-face {
    font-family: poppins;
    src: url("./../../fonts/poppins.ttf");
}

@font-face {
    font-family:poppins ;
    src: url("./../../fonts/poppins_bold.ttf");
    font-weight: bold;

}

*{
    font-family: poppins;;
}

#spinner{
    background: ghostwhite;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}
