name: Logistics Pipeline

on:
  workflow_dispatch:
  push:
    branches:
      - master  # Change this to your main branch name if different

jobs:
    build:
      runs-on: self-hosted
      steps:
      
        - name: Checkout code
          uses: actions/checkout@v2

        - name: Install dependencies
          run: |
            npm i
            npm run build
