name: Build and Deploy

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Install dependencies
      run: npm install

    - name: Build React app
      run: npm run  build

  deploy:
    runs-on: shahzaib
    needs: build

    steps:
    - name: Copy build folder to self-hosted runner
      run: |
        cp -R build/* C:\Users\Administrator\Desktop
